/* Global */
:root {
  /* Color */
  --color-beige: #fff5e7;
  --color-orange: #edb473;
  --color-orange-transparent: rgb(237, 180, 115, 0.5);
  --color-black: #5b6574;

  /* Font size */
  --font-medium: 1.5rem;
  --font-regular: 1.25rem;
  --font-small: 0.9rem;

  /* Font weight */
  --weight-regular: 400;
  --weight-light: 300;

  /* Size */
  --size-border-radius: 8px;
  --size-letter-spacing: 0.1em;
  --size-logo: 12rem;
  --size-btn: 5rem;
  --size-product: 15rem;
  --size-arrow-up: 3rem;
  --position-arrow-up: 3rem;

  /* Animation */
  --animation-duration: 300ms;
}

* {
  box-sizing: border-box;
}

body {
  text-align: center;
  max-width: 62.5rem;
  margin: auto;
}

body,
button,
select {
  font-family: 'Lato', sans-serif;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

ul {
  list-style: none;
  padding-left: 0;
}

/* Logo */
.logo {
  width: var(--size-logo);
  height: var(--size-logo);
  margin: 2em 0;
  border-radius: 50%;
}

/* Buttons & Select */
.btns-and-select {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

/* Buttons */
.btn {
  position: relative;
  width: var(--size-btn);
  height: var(--size-btn);
  margin: 0 0.25em;
  border-radius: var(--size-border-radius);
  background-color: var(--color-beige);
}

.btn__name {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: var(--size-btn);
  text-transform: uppercase;
  font-size: var(--font-small);
  font-weight: var(--weight-regular);
  letter-spacing: var(--size-letter-spacing);
  color: var(--color-black);
  opacity: 0;
}

.btn:hover .btn__icon {
  opacity: 0.1;
}

.btn:hover .btn__name {
  opacity: 1;
}

/* Select */
.select {
  padding: 0.5em;
  border: solid 1px var(--color-orange);
  border-radius: var(--size-border-radius);
  outline: none;
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
}

.select:focus {
  outline: solid 1px var(--color-orange);
}

/* Products */
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2px;
  padding: 0 0.5em;
}

.product {
  position: relative;
  width: var(--size-product);
  height: var(--size-product);
}

.product--hidden {
  display: none;
}

.product__img {
  width: 100%;
  height: 100%;
}

.product__price {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  padding: 0.5em 0;
  margin: 0;
  background-color: var(--color-orange-transparent);
  font-size: var(--font-regular);
  font-weight: var(--weight-light);
  letter-spacing: var(--size-letter-spacing);
  color: var(--color-black);
  transform: translateY(100%);
  opacity: 0;
  transition: all var(--animation-duration) ease-in;
}

.product:hover .product__price {
  transform: translateY(0);
  opacity: 1;
}

/* Arrow-up */
.arrow-up {
  position: fixed;
  bottom: var(--position-arrow-up);
  right: var(--position-arrow-up);
  display: inline-block;
  width: var(--size-arrow-up);
  height: var(--size-arrow-up);
  border-radius: 50%;
  background-color: var(--color-orange);
  font-size: calc(var(--size-arrow-up) * 3 / 4);
  color: white;
}

/* For screen width below 48rem */
@media screen and (max-width: 48rem) {
  :root {
    --position-arrow-up: 1.5rem;
  }
}
